body {
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
}

a:link {
    text-decoration: none;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
}
  
a:active {
    text-decoration: underline;
}

h1 {
    color: darkslategrey;
}
h2 {
    color: darkslategrey;
}
h3 {
    color: darkslategrey;
}
#page-wrap {
    max-width: 800px;
    margin: 0 auto;
}
